@page "/Home/Profile"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@layout Shared.UserLayout
<div class="welcome">
    <div class="dash-heading">Edit Profile</div>
    <div class="tag"  style=" color:rgb(84, 84, 84);">Edit your user Profile</div>
</div>
<style scoped>
    .welcome{margin:3rem;}
    .dash-heading{
        font-family: var(--h2);
        color:var(--primary);
        font-size:var(--lg);
        }
    .tag{
        font-family: var(--h3);
        font-size:var(--sm);
        color:var(--primary);
    }
</style>
@code{

} 
